streamlit
pandas
openpyxl
langchain
langchain-community
langchain-openai
langsmith
pydantic
python-dotenv
fpdf
python-docx
pyPDF2
docx2txt
unstructured
openai
python-doctr[tf]
Pillow
tensorflow
chromadb
scikit-learn 
nltk 
opencv-python 
torch 
torchvision 
numpy
spacy